* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

/* Images Choice */
.image-choise img{
    height: 5rem;
    width: 5rem;
}

.main-image {
    height: 12rem;
    width: 12rem;
}

/* ORDER FORM*/
.touch {
	font-family: myFont;
    padding-top: 70px;
    padding-bottom: 2rem;
    color: #6d3200;
    transition: all 5s;
    font-size: 3rem !important;
    font-weight: 500 !important;
}

.check {
    background-image: none !important;
    margin-top: 2.5rem;
    height: 1rem;
    width: 1rem;
    visibility: hidden;
    margin-left: 10px;
}

.exclamation {
    margin-top: 2.5rem;
    height: 1rem;
    width: 1rem;
    visibility: hidden;
    margin-left: 10px;
}

.form-control img {
    margin-right: 28.9rem;
}
#log-in_name li, #log-in_phone li {
    list-style-type: none;
    display: inline-flex;
    position: absolute;
    margin-top: -2rem;
    margin-left: -2rem;
}

#log-in_name p, #log-in_phone p {
    color: rgb(245, 57, 57);
    visibility: hidden;
}

.form-control.success input, .form-control.success textarea {
    border-color: rgb(70, 165, 70);
    border-width: 1.5px;
}

.form-control.error input, .form-control.error textarea {
    border-width: 1.5px;
    border-color: rgb(245, 57, 57);
}

.form-control.success .check {
    visibility: visible;
}

.form-control.error .exclamation {
    visibility: visible;
}
.form-control {
    visibility: visible;
    bottom: 0;
    width: 30rem;
    margin: 0 auto;
    text-align: start;
    letter-spacing: 1px;
}
#form {
    text-align: center;
    justify-content: center;
}

#contact-us {
    /* background-color: #FCF8F3; */
    display: flex;
    margin-left: 16%;
}
#submitButton {
    margin-top: 8px;
    color: #332400;
}

label {
	font-size: 1.1rem;
	color: 	#332400;
	display: block;
    padding-top: 8px;
	padding-bottom: .5rem;
    width: 30rem;
    margin: 0 auto;
    text-align: start;
    letter-spacing: 1px;
    font-weight: 600;
    display: flex;
    width: 100%;
}

.touch {
	font-size: 2.7rem;
	font-weight: 700;
}

input {
	height: 2rem;
    width: 100%;
}

input, textarea {
	color: #434242;
    width: 30rem;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 5px;
    border-color: #8b5220;
    outline: none;
    resize: none;
    padding: .3rem;
    background-color: rgba(255, 255, 255, .2);
    font-size: 1rem;
}

textarea {
	margin-bottom: -4px;
    padding-right: 1.5rem;
}

input:focus {
	background-color: rgba(255, 255, 255, .9);
    transition: all .2s;
    box-shadow: #8b5220 1px 2px 5px;
}

textarea:focus {
	background-color: rgba(255, 255, 255, .9);
    transition: all .2s;
    box-shadow: #8b5220 1px 2px 5px;
}

.order button {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-style: solid;
	border-width: 1.5px;
    border-radius: 5px;
	background-color: transparent;
	width: 30rem;
	color: white;
	border-color: #8b5220;
	font-size: 1.1rem;
	font-weight: 700;
	margin-bottom: 2rem;
    cursor: pointer;
}

button:hover {
	background-color: #e5ccac;
	color: black;
    transition: all .3s;
    box-shadow: #8b5220 1px 2px 5px;
}

button:active {
    background-color: #8b5220;
    box-shadow: none;
    transition: all .1s;
}

.body-contact {
    background-color: #e5d7c2;
    max-width: 100%;
	/* display: grid; */
	/* grid-template-columns: 1fr 1fr; */
	gap: 8%;
	/* margin-left: 7%; */
	/* padding-right: 5.5rem; */
    margin-bottom: 2rem;
    display: flex;
    /* margin-left: 2rem; */
    margin: 0 auto;
}